aiogram
google-genai
httpx
beautifulsoup4
python-dotenv
lxml
playwright
asyncpg
duckduckgo-search
openpyxl
pyyaml
camoufox[geoip]
undetected-chromedriver
selenium
setuptools
#todo наче працює але терба буден більш точн опідлашутвати фліьтир бо деякі твоари прпосукаємо все таки нажаль